- 통계, 데이터 중심의 지표

In [2]:
import numpy as np
import pandas as pd

# Jupyter Notebook의 출력을 소수점 이하 3자리로 제한
%precision 3

'%.3f'

In [4]:
df = pd.read_csv('./ch2_scores_em.csv', index_col='student number')
# df의 처음 5행을 표시
df.head() #head가 있으면 tail도 항상 존재

                english  mathematics
student number
1                    42           65
2                    69           80
3                    56           63
4                    41           63
5                    57           76

In [7]:
df['english'].values[:10] #df['english]는 시리즈 이거는 넘파이상태

array([42, 69, 56, 41, 57, 48, 65, 49, 65, 58], dtype=int64)

In [8]:
scores = np.array(df['english'])[:10]
scores

array([42, 69, 56, 41, 57, 48, 65, 49, 65, 58], dtype=int64)

In [9]:
scores_df = pd.DataFrame({'score':scores}, # score를 컬럼명으로
                         index=pd.Index(['A', 'B', 'C', 'D', 'E',
                                         'F', 'G', 'H', 'I', 'J'],
                                        name='student'))
scores_df

         score
student
A           42
B           69
C           56
D           41
E           57
F           48
G           65
H           49
I           65
J           58

- 평균값

In [11]:
sum(scores) / len(scores)

55.0

In [12]:
np.mean(scores) #numpy의 mean()을 사용하면 평균 구할 수 있음

55.0

In [13]:
scores_df.mean() #Pandas의 mean()함수도 평균 계산

score    55.0
dtype: float64

In [14]:
np.median(scores) # 중앙값

56.5

- 최빈값

In [15]:
pd.Series([1, 1, 1, 2, 2, 3]).mode()

0    1
dtype: int64

- 편차
> 각 데이터가 평균으로부터 어느정도 떨어져 있는가

In [48]:
sum(deviation)

NameError: name 'deviation' is not defined

- 분산
>> 편차의 평균은 항상 0이 되므로 편차의 제곱을 이용한 분산(Variance) 사용  
>> var() 함수에는 ddor=0으로 기본설정  
>> 불편분산은 ddof=1일 때 해당 (자유도 1)  
>> numpy와 pandas의 기본 설정 값이 다르기 때문에 주의

In [37]:
np.mean(deviation*2)

NameError: name 'deviation' is not defined

In [39]:
np.var(scores)

86.0

In [41]:
scores_df.var()

score    95.555556
dtype: float64

In [42]:
help(pd.DataFrame.var)

Help on function var in module pandas.core.generic:

var(self, axis=None, skipna=True, level=None, ddof=1, numeric_only=None, **kwargs)
    Return unbiased variance over requested axis.

    Normalized by N-1 by default. This can be changed using the ddof argument.

    Parameters
    ----------
    axis : {index (0), columns (1)}
    skipna : bool, default True
        Exclude NA/null values. If an entire row/column is NA, the result
        will be NA.
    level : int or level name, default None
        If the axis is a MultiIndex (hierarchical), count along a
        particular level, collapsing into a Series.
    ddof : int, default 1
        Delta Degrees of Freedom. The divisor used in calculations is N - ddof,
        where N represents the number of elements.
    numeric_only : bool, default None
        Include only float, int, boolean columns. If None, will attempt to use
        everything, then use only numeric data. Not implemented for Series.

    Returns
    -------
    Series or DataFrame (if level specified)

    Examples
    --------
    >>> df = pd.DataFrame({'person_id': [0, 1, 2, 3],
    ...                   'age': [21, 25, 62, 43],
    ...                   'height': [1.61, 1.87, 1.49, 2.01]}
    ...                  ).set_index('person_id')
    >>> df
               age  height
    person_id
    0           21    1.61
    1           25    1.87
    2           62    1.49
    3           43    2.01

    >>> df.var()
    age       352.916667
    height      0.056367

    Alternatively, ``ddof=0`` can be set to normalize by N instead of N-1:

    >>> df.var(ddof=0)
    age       264.687500
    height      0.042275

- 불편분산 테스트

In [43]:
import random

In [44]:
df.shape

(50, 2)

In [45]:
df['english'].var()

96.036

In [46]:
cnt = 0
for x in range(10000) :
    if np.var(random.choices(df['english'].values, k= 20)) < 96.036 :
        cnt += 1
    # print(f" {x} -> {np.var(random.choices(df['english'].values, k= 20))} " )

In [47]:
cnt

6114

In [36]:
df['english']

student number
1     42
2     69
3     56
4     41
5     57
6     48
7     65
8     49
9     65
10    58
11    70
12    47
13    51
14    64
15    62
16    70
17    71
18    68
19    73
20    37
21    65
22    65
23    61
24    52
25    57
26    57
27    75
28    61
29    47
30    54
31    66
32    54
33    54
34    42
35    37
36    79
37    56
38    62
39    62
40    55
41    63
42    57
43    57
44    67
45    55
46    45
47    66
48    55
49    64
50    66
Name: english, dtype: int64

- 표준편차
> 분산에 제곱근을 취한 표준편차

In [50]:
np.sqrt(np.var(scores, ddof=0))

9.273618495495704

In [51]:
np.std(scores,ddof=0)

9.273618495495704

- 데이터의 지표 정리

In [53]:
pd.Series(scores).describe()

count    10.000000
mean     55.000000
std       9.775252
min      41.000000
25%      48.250000
50%      56.500000
75%      63.250000
max      69.000000
dtype: float64

In [61]:
import pickle
import pandas as pd

with open("./source/kbo_player.pkl", "rb") as f :
    data = pickle.load(f)

kbo = pd.DataFrame(data)

In [62]:
kbo

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team
0,강매성,No.95,2003년 06월 08일,투수(우투우타),187cm/94kg,상탄초(일산동구리틀)-개군중-공주고,5000만원,3000만원,22 SSG 2차 6라운드 52순위,,SSG 랜더스
1,고명준,No.6,2002년 07월 08일,내야수(우투우타),185cm/94kg,서원초-세광중-세광고-SK,9000만원,3000만원,21 SK 2차 2라운드 18순위,21SK,SSG 랜더스
2,고효준,No.65,1983년 02월 08일,투수(좌투좌타),179cm/81kg,서원초-세광중-세광고-롯데-SK-KIA-롯데-LG,11000만원,4000만원,02 롯데 2차 1라운드 6순위,02롯데,SSG 랜더스
3,김강민,No.0,1982년 09월 13일,외야수(우투우타),182cm/87kg,본리초-대구중-경북고-SK,11000만원,16000만원,01 SK 2차 2라운드 18순위,01SK,SSG 랜더스
4,김건우,No.59,2002년 07월 12일,투수(좌투좌타),185cm/88kg,가현초(인천서구리틀)-동산중-제물포고-SK,20000만원,3100만원,21 SK 1차,21SK,SSG 랜더스
...,...,...,...,...,...,...,...,...,...,...,...
824,하주석,No.16,1994년 02월 25일,내야수(우투좌타),184cm/84kg,강남초-덕수중-신일고-한화-상무,30000만원,20090만원,12 한화 1라운드 1순위,12한화,한화 이글스
825,한승주,No.59,2001년 03월 17일,투수(우투우타),184cm/82kg,부산수영초-대천중-부산고,11000만원,3000만원,20 한화 2차 2라운드 18순위,20한화,한화 이글스
826,허관회,No.26,1999년 02월 12일,포수(우투우타),176cm/83kg,경동초(의정부리틀)-건대부중-경기고,3000만원,3370만원,19 한화 2차 9라운드 83순위,20한화,한화 이글스
827,허인서,No.64,2003년 07월 11일,포수(우투우타),182cm/93kg,순천북초-여수중-효천고,11000만원,3000만원,22 한화 2차 2라운드 11순위,22한화,한화 이글스
828,황영국,No.58,1995년 12월 26일,투수(좌투좌타),185cm/83kg,청주우암초-청주중-청주고-한화-경찰,20000만원,3400만원,14 한화 1차,14한화,한화 이글스

In [65]:
kbo.loc[kbo['Team'] == "고양 히어로즈",'Team'] = "키움 히어로즈" #고양이란 컬럼을 키움으로 바꿔줘
# == kbo[kbo['Team].str.find("고양") > -1]

In [66]:
kbo.value_counts('Team')

Team
LG 트윈스      89
두산 베어스      88
KIA 타이거즈    84
KT 위즈       83
NC 다이노스     83
한화 이글스      83
SSG 랜더스     82
삼성 라이온즈     80
키움 히어로즈     79
롯데 자이언츠     78
dtype: int64

In [69]:
kbo[kbo['연봉'] == ""]

,선수명,등번호,생년월일,포지션,신장/체중,경력,입단 계약금,연봉,지명순위,입단년도,Team
243,정은재,No.102,1991년 12월 31일,투수(우투우타),192cm/92kg,화곡초-덕수중-선린인터넷고,,,,,두산 베어스
336,황성빈,No.40,1997년 12월 19일,외야수(우투좌타),175cm/73kg,관산초-안산중앙중-소래고-경남대-롯데,,,20 롯데 2차 5라운드 44순위,,롯데 자이언츠

In [72]:
kbo[kbo['연봉'].apply(lambda x : x[-2:] in ['달러'])].value_counts('Team')

Team
KIA 타이거즈    3
KT 위즈       3
LG 트윈스      3
NC 다이노스     3
SSG 랜더스     3
두산 베어스      3
롯데 자이언츠     3
삼성 라이온즈     3
키움 히어로즈     3
한화 이글스      3
dtype: int64

In [117]:
import requests

In [118]:
url = "https://www.kebhana.com/cms/rate/wpfxd651_01i_01.do"

In [119]:
payload = {"ajax" : "true",
"curCd" : "",
"tmpInqStrDt" : "2023-03-06",
"pbldDvCd" : "0",
"pbldSqn" : "",
"hid_key_data" : "",
"inqStrDt" : "20230306",
"inqKindCd" : "1",
"hid_enc_data" : "",
"requestTarget" : "searchContentDiv",}

In [120]:
r = requests.post(url, data=payload)

In [121]:
hana = pd.read_html(r.text)[0]

In [122]:
hana

                 통화       현찰                              송금          T/C사실때  \
                 통화     사실 때            파실 때            보낼 때     받을 때 T/C사실때
                 통화       환율 Spread       환율 Spread     보낼 때     받을 때 T/C사실때
0            미국 USD  1320.20   1.75  1274.80   1.75  1310.20  1284.80    0.0
1      일본 JPY (100)   972.20   1.75   938.76   1.75   964.84   946.12    0.0
2            유로 EUR  1408.94   1.99  1353.96   1.99  1395.26  1367.64    0.0
3            중국 CNY   196.66   5.00   177.94   5.00   189.17   185.43    0.0
4            홍콩 HKD   168.54   1.97   162.04   1.97   166.94   163.64    0.0
5            태국 THB    39.53   5.00    35.40   6.00    38.02    37.28    0.0
6            대만 TWD    47.95  13.10    38.16  10.00     0.00     0.00    0.0
7           필리핀 PHP    26.02  10.00    21.72   8.20    23.89    23.43    0.0
8          싱가포르 SGD   984.14   1.99   945.74   1.99   974.58   955.30    0.0
9            호주 AUD   893.46   1.97   858.94   1.97   884.96   867.44    0.0
10    베트남 VND (100)     6.12  11.80     4.84  11.80     5.53     5.43    0.0
11           영국 GBP  1592.37   1.97  1530.85   1.97  1577.22  1546.00    0.0
12          캐나다 CAD   973.37   1.97   935.77   1.97   964.11   945.03    0.0
13        말레이시아 MYR   308.55   6.30   268.80   7.40     0.00   287.37    0.0
14          러시아 RUB    18.77   9.50    14.15  17.50    17.75    16.55    0.0
15        남아공화국 ZAR    77.09   8.00    65.67   8.00    72.23    70.53    0.0
16         노르웨이 NOK   127.83   2.45   121.73   2.45   126.02   123.54    0.0
17         뉴질랜드 NZD   821.88   1.97   790.14   1.97   814.07   797.95    0.0
18          덴마크 DKK   190.15   2.45   181.07   2.45   187.46   183.76    0.0
19          멕시코 MXN    79.37  10.00    66.10   8.40    72.88    71.44    0.0
20           몽골 MNT     0.00   0.00     0.00   0.00     0.00     0.00    0.0
21          바레인 BHD  3661.61   6.40  3166.07   8.00  3475.78  3406.96    0.0
22        방글라데시 BDT     0.00   0.00     0.00   0.00     0.00     0.00    0.0
23          브라질 BRL   275.19  10.20   224.75  10.00     0.00   246.73    0.0
24         브루나이 BND  1003.53   4.00   907.05   6.00     0.00     0.00    0.0
25      사우디아라비아 SAR   367.50   6.30   321.87   6.90   349.17   342.27    0.0
26         스리랑카 LKR     0.00   0.00     0.00   0.00     0.00     0.00    0.0
27          스웨덴 SEK   126.97   2.45   120.91   2.45   125.17   122.71    0.0
28          스위스 CHF  1418.21   1.97  1363.43   1.97  1404.72  1376.92    0.0
29    아랍에미리트공화국 AED   372.68   5.50   328.89   6.90   356.79   349.73    0.0
30          알제리 DZD     0.00   0.00     0.00   0.00     0.00     0.00    0.0
31           오만 OMR  3674.84   8.90  3172.04   6.00     0.00     0.00    0.0
32          요르단 JOD  1991.93   8.90  1682.81   8.00     0.00     0.00    0.0
33         이스라엘 ILS   390.67  10.00   326.75   8.00     0.00     0.00    0.0
34          이집트 EGP     0.00   0.00     0.00   0.00     0.00     0.00    0.0
35           인도 INR     0.00   0.00     0.00   0.00     0.00     0.00    0.0
36  인도네시아 IDR (100)     9.35  10.00     7.65  10.00     8.58     8.42    0.0
37           체코 CZK    63.77   8.50    53.49   9.00    59.42    58.14    0.0
38           칠레 CLP     1.78  10.00     1.46  10.00     0.00     0.00    0.0
39        카자흐스탄 KZT     0.00   0.00     0.00   0.00     0.00     0.00    0.0
40          카타르 QAR     0.00   0.00     0.00   0.00     0.00     0.00    0.0
41           케냐 KES     0.00   0.00     0.00   0.00     0.00     0.00    0.0
42         콜롬비아 COP     0.00   0.00     0.00   0.00     0.00     0.00    0.0
43         쿠웨이트 KWD  4502.71   6.50  3889.67   8.00  4270.17  4185.63    0.0
44         탄자니아 TZS     0.00   0.00     0.00   0.00     0.00     0.00    0.0
45          터어키 TRY     0.00   0.00     0.00   0.00    69.38    67.88    0.0
46         파키스탄 PKR     0.00   0.00     0.00   0.00     0.00     0.00    0.0
47          폴란드 PLN   317.20   8.00   270.22   8.00   296.94   290.48    0.0
48          헝가리 HUF     4.00   9.30     3.37   8.00     3.70     3.62    0.0
49           네팔 NPR     0.00   0.00     0.00   0.00     0.00     0.00    0.0
50          마카오 MOP     0.00   0.00     0.00   0.00     0.00     0.00    0.0
51         캄보디아 KHR     0.00   0.00     0.00   0.00     0.00     0.00    0.0
52           피지 FJD     0.00   0.00     0.00   0.00     0.00     0.00    0.0
53          리비아 LYD     0.00   0.00     0.00   0.00   271.40   266.04    0.0
54         루마니아 RON     0.00   0.00     0.00   0.00     0.00     0.00    0.0
55          미얀마 MMK     0.00   0.00     0.00   0.00     0.00     0.00    0.0
56        에티오피아 ETB     0.00   0.00     0.00   0.00     0.00     0.00    0.0
57       우즈베키스탄 UZS     0.00   0.00     0.00   0.00     0.00     0.00    0.0

    외화수표파실때    매매기준율      환가료율   미화환산율
    외화수표파실때    매매기준율      환가료율   미화환산율
    외화수표파실때    매매기준율      환가료율   미화환산율
0   1282.44  1297.50   6.55788  1.0000
1    945.65   955.48   2.03773  0.7364
2   1365.91  1381.45   4.52600  1.0647
3      0.00   187.30   4.51621  0.1444
4    163.45   165.29   4.67466  0.1274
5     37.25    37.65   3.53133  0.0290
6      0.00    42.40   3.22900  0.0327
7      0.00    23.66   8.52300  0.0182
8    953.83   964.94   6.18833  0.7437
9    866.15   876.20   5.40366  0.6753
10     0.00     5.48   9.20833  0.0042
11  1543.41  1561.61   6.07433  1.2036
12   943.32   954.57   6.48566  0.7357
13     0.00   290.27   4.94933  0.2237
14     0.00    17.15   2.97500  0.0132
15     0.00    71.38  10.28400  0.0550
16   123.37   124.78   5.04300  0.0962
17   796.50   806.01   6.57666  0.6212
18   183.55   185.61   4.26700  0.1431
19     0.00    72.16  13.83000  0.0556
20     0.00     0.37  13.47500  0.0003
21  3399.13  3441.37   8.19366  2.6523
22     0.00    12.21   8.24910  0.0094
23     0.00   249.72  14.26900  0.1925
24     0.00   964.94   6.17500  0.7437
25   341.59   345.72   7.11433  0.2665
26     0.00     3.82  18.09166  0.0029
27   122.54   123.94   5.00566  0.0955
28  1375.75  1390.82   3.03966  1.0719
29   349.24   353.26   5.07500  0.2723
30     0.00     9.51   8.47500  0.0073
31     0.00  3374.51   4.40500  2.6008
32     0.00  1829.14   9.16000  1.4097
33     0.00   355.16   6.04800  0.2737
34     0.00    42.24   8.47500  0.0326
35     0.00    15.89   8.87000  0.0122
36     8.41     8.50   8.37500  0.0066
37     0.00    58.78   9.13600  0.0453
38     0.00     1.62  10.32800  0.0012
39     0.00     2.97  19.47500  0.0023
40     0.00   355.60   3.35500  0.2741
41     0.00    10.12   9.36666  0.0078
42     0.00     0.27   0.00000  0.0002
43  4178.93  4227.90   5.71200  3.2585
44     0.00     0.55  11.24400  0.0004
45     0.00    68.63  26.67500  0.0529
46     0.00     4.71  19.08666  0.0036
47     0.00   293.71   9.62466  0.2264
48     0.00     3.66  18.98833  0.0028
49     0.00     9.93   0.00000  0.0077
50     0.00   160.48   0.00000  0.1237
51     0.00     0.32   0.00000  0.0002
52     0.00   586.73   0.00000  0.4522
53     0.00   268.72   0.00000  0.2071
54     0.00   280.65   0.00000  0.2163
55     0.00     0.62   0.00000  0.0005
56     0.00    24.11   0.00000  0.0186
57     0.00     0.11   0.00000  0.0001

In [123]:
for x in hana.columns :
    print(x)

('통화', '통화', '통화')
('현찰', '사실 때', '환율')
('현찰', '사실 때', 'Spread')
('현찰', '파실 때', '환율')
('현찰', '파실 때', 'Spread')
('송금', '보낼 때', '보낼 때')
('송금', '받을 때', '받을 때')
('T/C사실때', 'T/C사실때', 'T/C사실때')
('외화수표파실때', '외화수표파실때', '외화수표파실때')
('매매기준율', '매매기준율', '매매기준율')
('환가료율', '환가료율', '환가료율')
('미화환산율', '미화환산율', '미화환산율')

In [124]:
hana.columns = ["_".join(list(set(x))) for x in hana.columns]

In [125]:
hana.iloc[0,3]

1274.8

In [126]:
hana.loc[0, '파실 때_현찰_환율']

1274.8

In [127]:
hana.loc[hana.통화.str.find("USD") > -1, "파실 때_현찰_환율"]

0    1274.8
Name: 파실 때_현찰_환율, dtype: float64

In [128]:
hana

,통화,환율_현찰_사실 때,현찰_사실 때_Spread,파실 때_현찰_환율,파실 때_현찰_Spread,송금_보낼 때,송금_받을 때,T/C사실때,외화수표파실때,매매기준율,환가료율,미화환산율
0,미국 USD,1320.20,1.75,1274.80,1.75,1310.20,1284.80,0.0,1282.44,1297.50,6.55788,1.0000
1,일본 JPY (100),972.20,1.75,938.76,1.75,964.84,946.12,0.0,945.65,955.48,2.03773,0.7364
2,유로 EUR,1408.94,1.99,1353.96,1.99,1395.26,1367.64,0.0,1365.91,1381.45,4.52600,1.0647
3,중국 CNY,196.66,5.00,177.94,5.00,189.17,185.43,0.0,0.00,187.30,4.51621,0.1444
4,홍콩 HKD,168.54,1.97,162.04,1.97,166.94,163.64,0.0,163.45,165.29,4.67466,0.1274
5,태국 THB,39.53,5.00,35.40,6.00,38.02,37.28,0.0,37.25,37.65,3.53133,0.0290
6,대만 TWD,47.95,13.10,38.16,10.00,0.00,0.00,0.0,0.00,42.40,3.22900,0.0327
7,필리핀 PHP,26.02,10.00,21.72,8.20,23.89,23.43,0.0,0.00,23.66,8.52300,0.0182
8,싱가포르 SGD,984.14,1.99,945.74,1.99,974.58,955.30,0.0,953.83,964.94,6.18833,0.7437
9,호주 AUD,893.46,1.97,858.94,1.97,884.96,867.44,0.0,866.15,876.20,5.40366,0.6753
10,베트남 VND (100),6.12,11.80,4.84,11.80,5.53,5.43,0.0,0.00,5.48,9.20833,0.0042
11,영국 GBP,1592.37,1.97,1530.85,1.97,1577.22,1546.00,0.0,1543.41,1561.61,6.07433,1.2036
12,캐나다 CAD,973.37,1.97,935.77,1.97,964.11,945.03,0.0,943.32,954.57,6.48566,0.7357
13,말레이시아 MYR,308.55,6.30,268.80,7.40,0.00,287.37,0.0,0.00,290.27,4.94933,0.2237
14,러시아 RUB,18.77,9.50,14.15,17.50,17.75,16.55,0.0,0.00,17.15,2.97500,0.0132
15,남아공화국 ZAR,77.09,8.00,65.67,8.00,72.23,70.53,0.0,0.00,71.38,10.28400,0.0550
16,노르웨이 NOK,127.83,2.45,121.73,2.45,126.02,123.54,0.0,123.37,124.78,5.04300,0.0962
17,뉴질랜드 NZD,821.88,1.97,790.14,1.97,814.07,797.95,0.0,796.50,806.01,6.57666,0.6212
18,덴마크 DKK,190.15,2.45,181.07,2.45,187.46,183.76,0.0,183.55,185.61,4.26700,0.1431
19,멕시코 MXN,79.37,10.00,66.10,8.40,72.88,71.44,0.0,0.00,72.16,13.83000,0.0556
20,몽골 MNT,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.37,13.47500,0.0003
21,바레인 BHD,3661.61,6.40,3166.07,8.00,3475.78,3406.96,0.0,3399.13,3441.37,8.19366,2.6523
22,방글라데시 BDT,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,12.21,8.24910,0.0094
23,브라질 BRL,275.19,10.20,224.75,10.00,0.00,246.73,0.0,0.00,249.72,14.26900,0.1925
24,브루나이 BND,1003.53,4.00,907.05,6.00,0.00,0.00,0.0,0.00,964.94,6.17500,0.7437
25,사우디아라비아 SAR,367.50,6.30,321.87,6.90,349.17,342.27,0.0,341.59,345.72,7.11433,0.2665
26,스리랑카 LKR,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,3.82,18.09166,0.0029
27,스웨덴 SEK,126.97,2.45,120.91,2.45,125.17,122.71,0.0,122.54,123.94,5.00566,0.0955
28,스위스 CHF,1418.21,1.97,1363.43,1.97,1404.72,1376.92,0.0,1375.75,1390.82,3.03966,1.0719
29,아랍에미리트공화국 AED,372.68,5.50,328.89,6.90,356.79,349.73,0.0,349.24,353.26,5.07500,0.2723
30,알제리 DZD,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,9.51,8.47500,0.0073
31,오만 OMR,3674.84,8.90,3172.04,6.00,0.00,0.00,0.0,0.00,3374.51,4.40500,2.6008
32,요르단 JOD,1991.93,8.90,1682.81,8.00,0.00,0.00,0.0,0.00,1829.14,9.16000,1.4097
33,이스라엘 ILS,390.67,10.00,326.75,8.00,0.00,0.00,0.0,0.00,355.16,6.04800,0.2737
34,이집트 EGP,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,42.24,8.47500,0.0326
35,인도 INR,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,15.89,8.87000,0.0122
36,인도네시아 IDR (100),9.35,10.00,7.65,10.00,8.58,8.42,0.0,8.41,8.50,8.37500,0.0066
37,체코 CZK,63.77,8.50,53.49,9.00,59.42,58.14,0.0,0.00,58.78,9.13600,0.0453
38,칠레 CLP,1.78,10.00,1.46,10.00,0.00,0.00,0.0,0.00,1.62,10.32800,0.0012
39,카자흐스탄 KZT,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,2.97,19.47500,0.0023
40,카타르 QAR,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,355.60,3.35500,0.2741
41,케냐 KES,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,10.12,9.36666,0.0078
42,콜롬비아 COP,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.27,0.00000,0.0002
43,쿠웨이트 KWD,4502.71,6.50,3889.67,8.00,4270.17,4185.63,0.0,4178.93,4227.90,5.71200,3.2585
44,탄자니아 TZS,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.55,11.24400,0.0004
45,터어키 TRY,0.00,0.00,0.00,0.00,69.38,67.88,0.0,0.00,68.63,26.67500,0.0529
46,파키스탄 PKR,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,4.71,19.08666,0.0036
47,폴란드 PLN,317.20,8.00,270.22,8.00,296.94,290.48,0.0,0.00,293.71,9.62466,0.2264
48,헝가리 HUF,4.00,9.30,3.37,8.00,3.70,3.62,0.0,0.00,3.66,18.98833,0.0028
49,네팔 NPR,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,9.93,0.00000,0.0077
50,마카오 MOP,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,160.48,0.00000,0.1237
51,캄보디아 KHR,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.32,0.00000,0.0002
52,피지 FJD,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,586.73,0.00000,0.4522
53,리비아 LYD,0.00,0.00,0.00,0.00,271.40,266.04,0.0,0.00,268.72,0.00000,0.2071
54,루마니아 RON,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,280.65,0.00000,0.2163
55,미얀마 MMK,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.62,0.00000,0.0005
56,에티오피아 ETB,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,24.11,0.00000,0.0186
57,우즈베키스탄 UZS,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.11,0.00000,0.0001

In [110]:
def get_exchane(date_,currency,type_) :
    """
    date_ : 날짜, 날짜는 yyyy-mm-dd 형식으로 입력
    currency : 화폐 코드
    type_ : 0 사실 때, 1 파실 때 리턴
    """

    pass

In [131]:
def get_exchane(date_,currency,type_) :
    if